.footer {
    background:black;
    padding: 5px 0;
  }
  .footer a ,.footer p{
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-left: 1px solid #70726F;
    transition: all .5s ease;
  }

  .footer p:first-child{
    border-left:0px;
  }

  .footer a:last-child {
    border-right: 1px solid #70726F;
  }
  .footer a:hover, .footer p:hover {
    color: white;
  }
